.app-main-entrypoint.page-admin-championship-reigns-upsert.admin-page {
	padding: 0 20px;
}

.reigns-upsert-page {
	max-width: 600px;
	margin: 0 auto;
	overflow: hidden;
}

.steps-container {
	width: 100%;
	/* width: calc(100% * var(--total-steps)); */
	display: flex;
	transition: transform 0.3s ease-in-out;
	/* transform: translateX(calc(-100% / var(--total-steps) * var(--current-step))); */
	min-height: 100dvh;
	max-height: 100dvh;
	padding: 20px 0;
}

.steps-container .step {
	display: none;
	position: relative;
	/* width: calc(100% / var(--total-steps)); */
	width: 100%;
	max-height: calc(100% - 40px);
	padding: 20px;
	background-color: #fff;
	box-sizing: border-box;
	border-radius: 12px;
	border: 1px solid #ddd;
}
.steps-container .step.active {
	display: block;
}

.steps-container .step-header {
	position: relative;
	background-color: #fff;
	max-height: 40px;
}

.steps-container .step .step-inner {
	height: calc(100dvh - 80px - 40px - 40px - 20px);
	max-height: calc(100dvh - 80px - 40px - 40px - 20px);
	margin-top: 20px;
	padding: 5px;
	overflow-y: auto;
}

.steps-container .step-header h2 {
	width: 100%;
	position: relative;
	text-align: center;
	max-height: 40px;
}

.steps-container .step-header h2::after {
	content: '';
	position: absolute;
	top: calc(100% + 4px);
	left: 50%;
	transform: translateX(-50%);
	background-color: #000;
	border-radius: 50px;
	width: 25%;
	color: #fff;
	height: 4px;
	opacity: 0.12;
}

.steps-container .step ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.steps-container .step label input.app-radio + .inner {
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 8px;
	padding: 10px;
	border: 2px solid #ddd;
	border-radius: 8px;
}

.steps-container .step .buttons {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	border-top: 1px solid #bdbdbd;
	display: flex;
	justify-content: space-between;
}

.item-selector img {
	background-color: #ddd;
	border-radius: 6px;
	object-fit: cover;
	padding: 2px;
}
