@import './resets.css';
@import './layout.css';
@import './typography.css';

:root {
	--sidebar-width: 250px;
	--blue: #1da1f2;
	--dark-blue: #0f75bc;
	--sidebar-bg: #17181c;
	--smackdown: #00a2ff;
	--raw: #f44336;
	--awl: #a43fb8;
	--legend: #ff9800;
	--all: #c9b041;
	--font-color: #2f2f2f;

	--color-success: #deffec;
	--color-danger: #fde7e7;
	--color-warn: #fff3cd;
	--color-info: #d1ecf1;
	--color-light: #f8f9fa;
	--color-dark: #343a40;
}

/* ESTILOS GLOBALES RELEVANTES */
i.customs-icons.app-bootstrap-custom-icon {
	line-height: 0;
	color: inherit;
	white-space: pre-wrap;
	vertical-align: middle;
}

i.customs-icons.app-bootstrap-custom-icon.bi.bi-twitter {
	color: #1da1f2;
}

.box,
.panel {
	padding: 15px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.box .box-content,
.panel .box-content {
	padding: 15px 0;
	padding-top: 20px;
	height: 100%;
	overflow: hidden;
}

.box .title-block .box-title,
.panel .title-block .box-title {
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	font-family: 'dreadnotus', sans-serif;
}

.box .title-block i.customs-icons.app-bootstrap-custom-icon,
.panel .title-block i.customs-icons.app-bootstrap-custom-icon {
	font-size: 20px;
}

/* ESTILOS FORMULARIO */
.form-item {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.form-item.form-item-horizontal {
	flex-direction: row;
	align-items: center;
}

.form-item.form-item-image {
	gap: 10px;
}

.form-item .label.form-label {
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	font-family: 'dreadnotus', sans-serif;
}

.form-item .label.form-label.required-label {
	display: flex;
	align-items: center;
	gap: 5px;
}

.form-item label span.required-label {
	color: red;
	font-size: 22px;
	font-weight: 800;
	line-height: 0;
	font-family: 'Poppins', sans-serif;
}

input,
textarea,
select {
	font-size: 1em;
	padding: 5px 10px;
	background-color: rgb(238, 238, 238);
	border: 1px solid #ccc;
	background: #f9f9f9;
	border-radius: 5px;
	width: 100%;
	outline: none;
}

input[type="checkbox"].app-checkbox,
input[type="radio"].app-radio,
input[type="file"].app-file {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	cursor: pointer;
}

input[type='date'] {
	position: relative;
}

input[type='date']::-webkit-calendar-picker-indicator {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	color: transparent;
	background: 0 0;
	margin: 0;
	opacity: 0;
	pointer-events: auto;
}

input:focus,
textarea:focus {
	border-color: #1bb76e;
}

textarea {
	min-height: 150px;
	resize: vertical;
}

.radio-checkbox-container-wrapper .radio-checkbox-input:checked+.radio-checkbox-inner-item.label-item-legend {
	background-image: url(https://upload.wikimedia.org/wikipedia/en/9/93/WWE_Hall_of_Fame_Logo%2C_2019_version.png);
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
}

.radio-checkbox-container-wrapper .radio-checkbox-input:checked+.radio-checkbox-inner-item.label-item-legend .label-item-text {
	opacity: 0;
}

/* SIDEBAR */
aside.admin-sidebar.sidebar.shown {
	width: var(--sidebar-width);
	height: 100%;
	background-color: #333;
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	transition: 0.3s;
}

aside.admin-sidebar.sidebar.shown+main.app-main-entrypoint {
	margin-left: var(--sidebar-width);
}

.padding {
	padding: 20px;
}

.page-content {
	padding: 0 15px;
}

/* BOTONES */
button,
.btn {
	padding: 6px 1.2em;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: #eee;
	color: #333;
	font-size: 16px;
	outline: none;
}

.btn.btn-danger {
	background-color: #f44336;
	color: white;
}

.btn.btn-small {
	padding: 5px 10px;
	font-size: 14px;
	border-radius: 0;
}

.btn.secondary {
	border: 1px solid #333;
	background-color: transparent;
	color: #333;
}

.btn.cta {
	border: 1px solid #121212;
	background-color: #121212;
	color: white;
}

.btn.imgur {
	border: 1px solid #1bb76e;
	background-color: #1bb76e;
	color: white;
}

.btn.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.resource-list.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	place-items: center;
	gap: 20px;
}

/* LOGIN */
body main.app-main-entrypoint.page-public-login.public-page {
	background-color: #f4f4f4;
	background-position: center;
	background-image: url('https://media.bizj.us/view/img/10402994/wrestlemania-65*1200xx3710-2093-308-480.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

/* SPINNER */
aside.sidebar.shown+main.app-main-entrypoint .spinner-overlay-layer {
	padding-left: var(--sidebar-width);
	overflow: hidden;
	user-select: none;
}

/* FORM */
aside.sidebar.shown+main.app-main-entrypoint form.app-custom-form .buttons-block {
	position: fixed;
	margin-left: var(--sidebar-width);
	width: calc(100% - var(--sidebar-width));
}

/* LEGAL PAGES */
.legal-pages-container {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	background-color: #f4f4f4;
	color: #333;
	padding: 20px;
	margin: 0;
}

.legal-pages-container .container {
	max-width: 800px;
	margin: 0 auto;
	background-color: #ffffff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.legal-pages-container h1 {
	color: #e31b23;
	text-align: center;
}

.legal-pages-container h2 {
	color: #000000;
	margin-top: 20px;
}

.legal-pages-container p {
	margin: 10px 0;
}

.legal-pages-container ul {
	margin: 10px 0;
	padding-left: 20px;
}

.legal-pages-container li {
	margin-bottom: 10px;
}

.legal-pages-container .footer {
	margin-top: 20px;
	text-align: center;
	font-size: 12px;
	color: #888888;
}

.grouped-actions-container .grouped-actions-link:hover,
.grouped-actions-container .grouped-actions-button:hover {
	background-color: #f9f9f9;
}

.grouped-actions-container .grouped-actions-link,
.grouped-actions-container .grouped-actions-button {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	border-radius: 0;
}

.grouped-actions-container .grouped-actions-link:last-child,
.grouped-actions-container .grouped-actions-button:last-child {
	border-bottom: none;
	border-radius: 0 0 5px 5px;
}

.grouped-actions-container button {
	width: 100%;
	display: block;
	background-color: #ffffff;
}

@media only screen and (max-width: 768px) {
	.form-item .form-label {
		font-size: 0.9em;
	}

	aside.admin-sidebar.sidebar.shown+main.app-main-entrypoint {
		margin-left: 0;
	}
}