@font-face {
	font-family: 'dreadnotus';
	src: url('/fonts/DreadnoughtusMedium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'sourcesans';
	src: url('/fonts/source-sans/SourceSans3-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'rumble';
	src: url('/fonts/rumble/Homepagebaukasten-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'rumble';
	src: url('/fonts/rumble/Homepagebaukasten-Book.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

.sourcesans {
	font-family: 'sourcesans', sans-serif;
}

.dreadnotus {
	font-family: 'dreadnotus', sans-serif;
}

.rumble {
	font-family: 'rumble', sans-serif;
}

h1 {
	font-family: 'dreadnotus', sans-serif;
}