@font-face {
	font-family: 'Dreadnotus';
	src: url('/fonts/DreadnoughtusMedium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SourceSans';
	src: url('/fonts/source-sans/SourceSans3-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.sourcesans {
	font-family: 'SourceSans', sans-serif;
}

.dreadnotus {
	font-family: 'Dreadnotus', sans-serif;
}

h1 {
	font-family: 'Dreadnotus', sans-serif;
}
